#navbar{   background-color: transparent ; height: 11%}
.mySlides {display:none;}
#particles-js{
    width: 100%;
    height: 653px;
    background-image: url('images/save6.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}
#particles-js::before{content:''; position:absolute;top:0;right:0;left:0;bottom:0;
    background-color:rgba(0,0,0,0.4);}

.inputsearch{
    position: absolute;
    /*margin-bottom:px;*/
    /*top:20px;*/
    /*left:20px;*/
    z-index: 1;
}
#logo{color:#49cbe7; font-size: 1.8em}
#navlinks{color: white;font-size:20px;}
.parallax {

    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    webkit-box-shadow: 0px 0px 10px 7px #606060;
    moz-box-shadow: 0px 0px 10px 7px #606060;
    box-shadow: 0px 0px 10px 7px #606060;
}
.footer{color: white;background-color: black;}
#footerlinks p a{color:white;}
#footerlink{color:white;}
#img-prd:hover{ background: #EEEEEE;
    transition: 0.3;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
/* .imgprd{
  position:  relative;
  z-index: 1;
}
#modal1{
  position: absolute;
  z-index: 2;
  display: none;
} */
#modal1:hover{
    border:2px solid #49cbe7;
    background-color: rgb(167, 164, 164);
    color:#49cbe7;
}
#img-prd:hover #modal1{ display: block;}
.carousel-item div a{color:#606060;}
.carousel-item div a:hover{
    text-decoration: none;
}


.rrow {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.rrow,
.rrow > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.rrow:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btnn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btnn:hover {
    background-color: #ddd;
}

.btnn.active {
    background-color: #666;
    color: white;
}