nav a{
    color:white;

}

nav a:hover{
    color:papayawhip;
}
nav{


    background-color:darkcyan;
}


.divinfo{
    border:1px solid darkcyan ;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*================================================*/

.footer{color: white;background-color: black;}
