

body{
    font-family: sans-serif;
    color: rgb(63, 61, 61);
    background-color: rgb(193, 223, 236);
    
}


.info{
color:#1dbee2;
  margin-right: 15px;
}
.main-container{
    padding: 20px;
}


